@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.logo-bg {
  background: url("/adam_outline.svg");
  background-size: 100px 100px; /* Adjust the size of the logos */
  background-repeat: repeat;
  background-position: 0 0; /* Position of the first image */
  padding: 0;
  backdrop-filter: blur(2px);
  opacity: 0.6;
}